html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}

.container {
    max-width: 900px;
    margin: 60px auto;
    background: #fff;
    box-shadow:  8px 24px rgba(0,0,0,0.07);
    padding: 60px;
    border-radius: 16px;
}

.attractions-img {
  display: block;
  width: 100%;           
  height: auto;          
  margin: 32px auto ;   
  border-radius: 12px;   
  border:10px solid #222;
}


.header {
    text-align: center;
    padding: 10px;
    background-color: darkblue;
    color: aliceblue;
}

h1 {
    font-size: 2.4em;
    font-weight: 800;
    margin-bottom: 12px;
    color: #0353a4;
    letter-spacing: -.03em;
}

h2 {
    font-size: 1.4em;
    color: #3076c4;
    font-weight: 700;
    margin-top: 4opx;
    margin-bottom: 22px;
}

ul {
  margin-bottom: 34px;
}


.intro {
    font-size: 1.1em;
    line-height: 1.7;
    margin-bottom: 12px;
    color: #262626;
}

.highlights {
    font-weight: 500;
    font-size: 1.09em;
    color: #444;
}
.nav {
    background: #ffffff;
    padding: 15px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #222;
    padding: 8px 12px;
    transition: 0.3s ease;
}


nav ul li a:hover {
    color: #0077ff;
}



@media (max-width: 600px) {
    nav ul {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }
}